django-filter==23.2
django-storages==1.13.2
django-cors-headers==4.1.0
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
Pillow==9.5.0
psycopg2-binary==2.9.7
drf-spectacular==0.26.2
drf-spectacular-sidecar==2023.6.1
gunicorn==20.1.0
Django==4.2.2
whitenoise
grpcio-tools==1.59.0
